{% extends 'base.html' %}
{% block title %} Booking List {% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center pt-4">
    <div class="card shadow-lg w-full">
        <div class="overflow-x-auto bg-white rounded-lg shadow border border-orange-100">
            <table>
                <thead>
                    <tr>
                        <th class="p-4">วันที่จอง</th>
                        <th class="p-4">ชื่อห้อง</th>
                        <th class="p-4">วันที่ต้องการจอง</th>
                        <th class="p-4">เวลาที่จอง</th>
                        <th class="p-4">ชื่อลูกค้า</th>
                        <th class="p-4">จำนวนลูกค้า</th>
                        <th class="p-4">เบอร์โทรศัพท์</th>
                        <th class="p-4">รายละเอียดเพิ่มเติม</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}