{% extends 'base.html' %}
{% block title %} Booking List {% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center pt-4">
    <div class="card shadow-lg" style="max-width: 500px; width: 100%;">
        <div class="p-4 table">
            <table>
                <tr>
                    <th>วันที่จอง</th>
                    <th>ชื่อห้อง</th>
                    <th></th>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}